BASICS

In [1]:
a=10
a

10

In [2]:
type(a)

int

In [3]:
b='Rishi'
b

'Rishi'

In [4]:
type(b)

str

In [5]:
a=10
b='Rishi'

In [6]:
a,b,c=10,'Rishi',1.3

In [7]:
a,b,c

(10, 'Rishi', 1.3)

----------------------------------------------------

In [ ]:
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

The TypeError: type.__new__() argument 1 must be str, not int indicates that the first argument passed to the type() function was an integer, while it expects a string.
The type() function in Python can be used in two main ways:
To get the type of an object: When called with a single argument, type(object), it returns the type of that object.
Python

    a = 10
    print(type(a)) # Output: <class 'int'>
To dynamically create a new type (class): When called with three arguments, type(name, bases, dict), it creates a new class.
name: The name of the class, which must be a string.
bases: A tuple of base classes from which the new class inherits.
dict: A dictionary containing the class's namespace (methods, attributes).
The error type(a,b,c) suggests an attempt to use the second form of type(), but the variable a (which is intended to be the class name) holds an integer value instead of a string.
To resolve this error, ensure that the first argument provided to type() when creating a new class is a string representing the class name.
Example of correct usage for creating a type:
Python

class MyBaseClass:
    pass

class_name = "MyNewClass"
bases_tuple = (MyBaseClass,)
class_attributes = {"attribute1": 100, "method1": lambda self: "Hello"}

MyNewClass = type(class_name, bases_tuple, class_attributes)

# You can now use MyNewClass as a regular class
instance = MyNewClass()
print(instance.attribute1)
print(instance.method1())

In [ ]:
#True =1 and False = 0
True + True +False

2

-----------------------------------------------------

Complex Number

Python has built-in support for complex numbers. They are represented in the form a + bj, where a is the real part and b is the imaginary part, and j denotes the imaginary unit (similar to i in mathematics).

Creating Complex Numbers:

using the complex() constructor

In [ ]:
z1 = complex(3, 4)  # Creates the complex number 3 + 4j
z2 = complex(5)    # Creates the complex number 5 + 0j
z3 = complex('2+7j') # Creates the complex number 2 + 7j from a string

In [ ]:
print(z1,z2,z3)

(3+4j) (5+0j) (2+7j)

Using complex literals.

In [ ]:
x= 34+3j

In [ ]:
print(x.real)
print(x.imag)

NameError: name 'x' is not defined

---------------------------------------------------

In [ ]:
1 + 'rishi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

for that we use type casting where we change or convert the data type of an data

In [ ]:
str(1)+'rishi'

'1rishi'

In [ ]:
'rishi'*3

'rishirishirishi'

In [ ]:
"rishikesh "+ " nandan"

'rishikesh  nandan'

------------------------------------------------------

In [1]:
a= 10
a

10

In [ ]:
b=input()